*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.introduction{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgb(0,0,0,0.7))),  url("img/image.png");
    background-image: linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.5)),  url("../images/drone.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}


/*-----------section header--------*/
/*navbar */
.navbar-nav{
    margin-top: 1.5rem;
}
.navbar-brand img{
    height: 50px;
    width: auto;
    
}
.fixed {
    position: fixed;
    background-color: #454545;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0 auto;
    z-index: 1;
  }

.active a{
    color: #fdff39 !important;
}

.nav-item{
    margin-left: 25px;
}

.nav-link{
    color: #ffffff !important;
    border-bottom: 2px solid transparent ;
    transition: border 0.2s;
}

.nav-link:hover:not(.icon-link),nav-link:active{
    border-bottom: 2px solid #fdff39;
}

.nav-link i{
    background-color:transparent;
    border:1px solid #ffffff;    
    height:30px;
    vertical-align: middle; 
    text-align: center;
    display: table-cell;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:30px;
}

.icon-link i:hover,icon-link i:active{
    background: #ffc107;
    border: 1px solid #ffc107;
}


#headerInfo{
    width: 100%;
    max-width: 100%;
    z-index: 0;
    position: absolute;
    top: 45%;
    left: 0%;
    
}

#headerInfo h1{
    
    text-transform: uppercase;
    color: #ffffff;
    word-spacing: 2px;
}

#headerInfo-buttons{
    margin-top: 70px;
}

#headerInfo button{
    margin-left: 1rem;
    border-radius: 0;
}
.btn-first{
    border: 2px solid #ffffff;
}
.btn-second{
    border: 2px solid #ffffff;
    color: #ffffff !important;
    border-color: #fdff39;
}

/*What is new*/
.news{
    position: absolute;
    top: 75%;
    left: 5%;
}
.news img{
    height: 70px;
    width: auto;
    margin-right: 7px;
}
.news p{
    color: #ffffff;
    text-transform: uppercase;
}


/*section introduction-to-drone*/

.introduction-to-drone{
    
    margin:160px 0 auto auto;
}
.introduction-to-drone img{
    width: 100%;
    height: auto;
    scale: 0.9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
   
}
.introduction-to-drone p,h2,h3{
    text-transform: uppercase;
    text-align: center;
}
.introduction-to-drone h2{
    margin-top: 30px;
    margin-bottom: 25px;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 7.5rem;
    overflow: hidden;
    letter-spacing: 5px;
    color: #e0e0e0;
}
.introduction-to-drone p{
    font-weight: 500;
    font-size: 2rem;
    font-family:'Poppins', sans-serif;
    
}
#droneInfo{
   margin: 0 auto;
    width: 65%;
    
}
#droneInfo h3{
    font-size: 1.7rem;
    margin-bottom: 50px;
    overflow: hidden;
    font-family:'Poppins', sans-serif;
}
#droneInfo p{
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 50px;
}
#droneInfo button{
    margin-top: 1rem;
    margin-bottom: 150px;
    border: 2px solid #000000;
    border-radius: 0;
    color: #000000 !important;
    transition: background 0.3s;
}
#droneInfo button:hover{
    background: #fdff39;
}


/*section text-info*/
.text-info{
    background: #fdff39;
    height: 680px;
    width: auto;
    position: relative;
}

.text-info p{
    font-size: 6rem;
    font-weight: 700;
    
    color: #000000;
    opacity: 0.1;
}
.margin{
    margin-top: 70px;
}
.text-info p:nth-of-type(2){
    font-size: 1rem;
    width: 400px;
    text-align: left;
    font-weight: 300;
    opacity: 1;
    color: #000000;
}
.text-info h3{
    
    font-size: 1.7rem;
    text-align: left;
    font-weight: 700;
    font-family:'Poppins', sans-serif;
    color: #000000;
}
.lens img{
    float: left;
    height: 65px;
    display: block;
    width: auto;
    margin-right: 10px;
    
    opacity: 0.8;
}
.lens span{
    font-size: 45px;
    font-weight: 700;
}
.lens p{

    font-size: 25px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}


/*footer*/
.footer{
    min-height: 65px;
    background: #000000;
    padding: 15px;
}
.footer p{
    text-transform: uppercase;
    color: #ffffff;
}
.footer .nav li .nav-link{
    color: #ffffff !important;
    border-bottom: none;
}
.footer .nav li .nav-link:hover{
    color: #ffffff !important;
}
